<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJafOlsmO-1-Gn3kfvP6KalOfEU4WZNkA</string>
	<key>GCM_SENDER_ID</key>
	<string>453673442707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.censusdemo</string>
	<key>PROJECT_ID</key>
	<string>fir-ce64a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ce64a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453673442707:ios:d60ab1c452e5324ab51c66</string>
</dict>
</plist>